<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Storefront" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "layout",
                            "nav",
                            "products",
                            "product_show",
                            "admin",
                            "account",
                            "devise",
                            "footer",
                            "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="layout" <%= "data-turbo='false'" if content_for?(:disable_turbo) %>>
    <%= render "shared/nav" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
